<%= simple_form_for @faq do |f| %>
        <div class="label">Question:</div>
        <div class="typo"> <%= f.input :question, label: false %> </div>
        <div class="label">Réponse:</div>
        <div class="typo" style="width: 400px; height: 300px;"> <%= f.input :answer, label: false %> </div>
        <p> photo  </p>
        <%= f.input :photo, as: :file %>
    <%= f.button :submit %>

  <% end %>
