
<div class="row">

  <div class="faqtop">
    <%= image_tag "header-page-FAQ.png"  %>
    <h1> FAQ </h1>
  </div>
</div>



<div class=" rowf ">
  <% @faqs.each do |faq| %>
    <div class="accordion " id="accordionExample">
      <div class="questioncard ">
        <div class="card-header" id="heading<%=faq.id%>">
          <h2 >
            <button class="btn " type="button" data-parent="#accordionExample" data-toggle="collapse" data-target="#collapse<%=faq.id%>" aria-expanded="true" aria-controls="collapseOne">
               <%= faq.question%>
            </button>
          </h2>
        </div>

        <div id="collapse<%=faq.id%>" class="collapsefaq  collapse" aria-labelledby="heading<%=faq.id%>" >
          <div class="card-body-faq">
              <p>
                <%= faq.answer%>
              </p>
          </div>
        </div>
      </div>
    </div>
  <%end%>


</div>

</div>


