<h1>Booking by users#index</h1>

<div class="cards">

    <% @booking_by_user.each do |booking| %>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= booking.id%></h5>
        <p> participants: <%= booking.participants%></p>
        <p> comment: <%= booking.comment%></p>

        <p> status: <%= booking.status%></p>

        <%#
        ci dessous on vas faire un systéme qui convertis le code status (qui est un integer) en un status comprehensible par l'homme
        ce sera: en attente pour un status = 0, accepté pour un status = 1 et refusé pour un status = 2.
        -%>
        <% if booking.status == 1 %>
        status: accepté
        <% elsif booking.status == 2 %>
        <p> status: refusé</p>
        <% else %>
        status: en attente
        <%end %>

        <%# la ci dessous on vas avoir un ptit bloc de code pour pouvoir modifier le status de la booking -%>
        <% if current_user.admin ==true %>
          <%= form_tag "/bookings/#{booking.id}", method: "patch" do %>
              <input type="integer" name="status" value= "1" />
              <input type="submit" value="accepter" />
          <% end %>

          <%= form_tag "/bookings/#{booking.id}", method: "delete" do %>
          <input type="submit" class="btn btn-primary" value="Supprimer le booking" />
          <% end %>

        <% else%>
        <% end%>

      </div>
    </div>
    <% end %>
  </div>
</div>


<p> <a href="/bookings/new" class="btn btn-primary"> Creer une nouvelle booking</a> </P>
