<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to "/products", class: "navbar-brand" do %>
    <%= image_tag "logo.png"%>
    <% end %>


<% if user_signed_in? %>
  <div class="navbar-categories ">
    <ul class="navbar-categories-list navbar-nav mr-auto" >

     <!--  <% @lescategories.each do |categorie| %>
      <li classe="catego " >
        <%= link_to "#{categorie.name}", "/productsby/#{categorie.id}", class: 'link-to-text-color'%>
      </li>
      <% end %> -->

      <li classe="categories">
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" >
             Qui sommes nous?
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

              <%= link_to "Le projet", pages_projet_path, class: "dropdown-item" %>
              <%= link_to "L'équipe", pages_equipe_path, class: "dropdown-item" %>

            </div>
        </div>
      </li>

      <li classe="categories">
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" >
             Visites
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @visites10.each do |visite| %>
              <a class="dropdown-item" href="/products/<%= visite.id %>"><%= visite.title %></a>
              <% end %>
            </div>
        </div>
      </li>

      <li classe="catego ">
        <%= link_to "Prix", pages_prix_path, class: "dropdown-item" %>
      </li>

      <li classe="catego ">
        <%= link_to "F A Q", pages_faq_path, class: "dropdown-item" %>
      </li>

       <li classe="catego ">
        <%= link_to "Contacts", pages_contact_path, class: "dropdown-item" %>
      </li>
      <!-- ci dessous un menu deroulant qui affiche les categories -->
      <!-- <li classe="categories">
          <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" >
              Autres
            </div>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <% @toutescategories.each do |categorie| %>
              <a class="dropdown-item" href="/productsby/<%= categorie.id %>"><%= categorie.name %></a>
              <% end %>
            </div>
          </div>
      </li> -->
    </ul>
  </div>
<% else %>
<% end %>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <%= image_tag "sailor.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">

            <%if current_user.admin %>
            <%= link_to "creer un produit", new_product_path, class: "dropdown-item" %>
            <%= link_to "zone admin", "/admin", class: "dropdown-item" %>
            <%= link_to "bookings a traiter", bookings_path, class: "dropdown-item" %>
            <%= link_to "demande de contacts", contacts_path, class: "dropdown-item" %>
            <%= link_to "categories", categories_path, class: "dropdown-item" %>
            <%= link_to "zones", zones_path, class: "dropdown-item" %>
            <%= link_to "visittes", index_admin_path, class: "dropdown-item" %>
            <p> </p>
            <% else %>
            <% end %>
            <%= link_to "mes bookings", booking_by_user_path, class: "dropdown-item" %>
            <%= link_to "mon panier", "/carts/#{session[:cart_id]} ", class: "dropdown-item" %>
            <%= link_to "mes infos", "pages/user", class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>


</div>
