
<div class="container col-12 col-lg-8">
<div class="row">

  <div class="faqtop ">
    <%= image_tag "header-page-FAQ.png"  %>
    <h1> FAQ </h1>
  </div>
</div>


  <div class="questioncard row ">
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq1.png"  %>
    </div>
    <div class="questioncardtext col-md-9">
        <h2> AN WEN RICHTET SICH MEIN MARSEILLE? </h2>
        <p> Mein Marseille bietet Führungen in deutscher Sprache an und richtet sich an alle, die unsere
          wunderschöne Stadt und Gegend entdecken wollen. Paare, Familien, Schülergruppen, auch größere
          Gruppen sind bei uns willkommen. Falls Sie weitere Informationen brauchen, schreiben Sie uns gerne
          an: info@meinmarseille.de
        </p>
    </div>
  </div>

 <div class="questioncard row">
    <div class="questioncardtext col-md-9">
        <h2> KANN ICH MIT KINDERN KOMMEN?</h2>
        <p> Wir freuen uns auf Ihre Kinder! Bitte beachten Sie aber, dass manche Führungen für Kinder ziemlich
            anstrengend sein können, wie zum Beispiel in den Calanques. Mehr Informationen erhalten Sie, wenn
            Sie die Seite der entsprechende Führungen besuchen.
            Unter dem Punkt „Praktisch“ auf der rechten Seite finden Sie hilfreiche Informationen über den Ablauf
            der Führung. Falls Sie mit mehreren Kindern kommen, können wir auch gerne eine maßgeschneiderte
            Führung für Sie organisieren. Schreiben Sie uns für mehr Informationen einfach unter
            info@meinmarseille.de an oder benutzen Sie unser Kontaktformular.</p>
    </div>
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq2.png"  %>
    </div>
  </div>

  <div class="questioncard row">
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq3.png"  %>
    </div>
    <div class="questioncardtext col-md-9">
        <h2> KANN ICH EINE MASSGESCHNEIDERTE FÜHRUNG BUCHEN? </h2>
        <p> Klar! Mein Marseille bietet themenspezifische Führungen an, aber Sie können Sie uns gerne auch
            anschreiben, falls Sie sich für weitere Themen interessieren. Falls Sie mit
            mehreren Kindern oder mit Personen mit körperlichen Beeinträchtigungen kommen wollen, passen wir
            uns auch sehr gerne an Ihre Bedürfnisse an. Schreiben Sie uns für mehr Informationen einfach eine E-
            Mail an info@meinmarseille.de oder benutzen Sie unser Kontaktformular.
        </p>
    </div>
  </div>

 <div class="questioncard row">
    <div class="questioncardtext col-md-9">
        <h2> WAS IST IM PREIS ENTHALTEN?</h2>
        <p>Der Preis einer Führung, den Sie auf unserer Internetseite finden können, ist als Richtwert zu
            betrachten. Wir berechnen den Preis pro Gruppe und nicht pro Person. Der endgültige Preis wird Ihnen
            angezeigt, sobald Sie das Datum der gewünschten Führung sowie die Teilnehmerzahl angegeben
            haben. Für private Kunden ist die Steuer inbegriffen; Schulen und Geschäftskunden bitten wir, mit uns
            Kontakt aufzunehmen.
          </p>
    </div>
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq4.png"  %>
    </div>
  </div>
  <div class="questioncard row">
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq5.jpg"  %>
    </div>
    <div class="questioncardtext col-md-9">
        <h2> WANN IST DIE BESTE ZEIT FÜR EINE FÜHRUNG?</h2>
        <p>
            Marseille kann das ganze Jahr lang besichtigt werden. Das Wetter ist selten schlecht, es kann im
            Frühling und im November/Dezember ein bisschen regnen, sonst scheint hier eigentlich immer die
            Sonne. Die beste Zeit ist von Februar bis Juni und von September bis November. Im Sommer, also im
            Juli und August, kann es sehr heiß werden. Wenn Sie aber doch gerne zu dieser Jahreszeit buchen
            wollen, kein Problem! Wir passen auch gerne die Führungen an die Temperaturen an. Unsere
            Empfehlung: Buchen Sie dann lieber eine Führung früh morgens oder nach 18 Uhr! Im Winter kann
            Marseille auch wunderschön sein, und Sie werden die Stadt fast für sich alleine haben, da die meisten
            Touristen eher im Frühling und Sommer kommen. Im Januar und Februar liegt die durchschnittliche
            Temperatur bei 12 Grad.
        </p>
    </div>
  </div>

 <div class="questioncard row">
    <div class="questioncardtext col-md-9">
        <h2> KANN ICH EINE FÜHRUNG IN EINER ANDEREN SPRACHE BUCHEN? </h2>
        <p> Mein Marseille richtet sich zwar an deutschsprachige Gruppen, aber da unsere Guides alle Deutsch,
            Französisch und Englisch sprechen, können wir unsere Führungen auch sehr gerne in diesen drei
            Sprachen anbieten. Eine Führung in zwei verschiedenen Sprachen ist auch möglich: Das ist praktisch,
            wenn zum Beispiel Franzosen und Deutschen zusammen in einer Gruppe, aber in Ihrer jeweils eigenen
            Sprache, die Stadt entdecken wollen!
        </p>
    </div>
    <div class="questioncardpics col-md-3 rotation270">
      <%= image_tag "faq6.JPG" %>
    </div>
  </div>
  <div class="questioncard row">
    <div class="questioncardpics col-md-3">
      <%= image_tag "faq8.jpg"  %>
    </div>
    <div class="questioncardtext col-md-9">
        <h2> WIE ZAHLE ICH DIE GEBUCHTE FÜHRUNG? </h2>
        <p> Die Führung wird direkt auf der Internetseite www.meinmarseille.com bezahlt. Nachdem Sie den
            gewünschten Zeitraum ausgewählt und die Teilnehmerzahl angegeben haben, wird Ihnen der endgültige
            Preis (Steuer inbegriffen) angezeigt. Dann wählen Sie die Zahlungsart aus. Sie können auf unserer Seite
            mit Kreditkarte (Visa etc,), EC-Karte, PayPal oder mit Sofortüberweisung zahlen. Unser Zahlungssystem
            ist verschlüsselt (Siehe die https: oben in der Navigationsleiste) und daher sicher. Falls Sie Fragen dazu
            haben, schreiben Sie uns eine E-Mail an info@meinmarseille.de und wir werden Ihnen gerne mehr

            Informationen über die Sicherheit dieses Prozesses mitteilen. Wenn Sie trotzdem lieber mit einer
            konventionellen SEPA-Überweisung buchen wollen, kein Problem. Die Informationen darüber finden Sie
            in unseren AGBs unter „Zahlungsbedingungen“ oder auf unserer Impressum-Seite. Bitte beachten Sie,

            dass die Führung erst nach Zahlungseingang auf unserem Bankkonto bestätigt wird. Eine Bestätigungs-
            Email sowie eine Rechnung erhalten Sie für Ihre Buchung in jedem Fall.
        </p>
    </div>
  </div>
</div>
