<div class="container">


      <div class="row">

      <div class="prixtop">
        <%= image_tag "header-page-prix.png"  %>
        <h1> Preise </h1>

      </div>
    </div>

    <div class="row pricetable">

    <table>
      <tr>
        <th class=" case2 "></th>
        <th class=" case2 ">1 - 5 Teilnehmer</th>
        <th class=" case2 ">6 - 10 Teilnehmer</th>
        <th class=" case2 ">11 - 15 Teilnehmer</th>
      </tr>
      <tr>

      <% @visittes.each do |visite| %>
          <td class=" case2 casetitle "><%= visite.title%></td>
          <td class=" case2 "><%= visite.price%></td>
          <td class=" case2 "><%= visite.price*1.15 %></td>
          <td class=" case2 "><%= visite.price*1.30 %></td>
        </tr>

      <% end%>
    </table>
    </div>


</div>
