



form qui fonctionne avec la photo:
 <%= simple_form_for @product do |f| %>
        <div class="label">Titre</div>
        <div class="typo"> <%= f.input :title, label: false %> </div>
        <div class="label">Sous-titre</div>
        <div class="typo"> <%= f.input :subtitle, label: false %> </div>
        <div class="label">description</div>
        <div class="typo"> <%= f.input :description, label: false %> </div>
        <div class="label">practish</div>
        <div class="typo"> <%= f.input :description2, label: false %> </div>
        <div class="label">Résumé homepage (340 caracteres)</div>
        <div class="typo"> <%= f.input :description3, label: false %> </div>
        <div class="label">price</div>
        <div class="typo"> <%= f.input :price, label: false %> </div>
        <div class="label">childs</div>
        <div class="typo"> <%= f.input :childs, label: false %> </div>
        <div class="label">lunch</div>
        <div class="typo"> <%= f.input :lunch, label: false %> </div>
        <div class="label">duration</div>
        <div class="typo"> <%= f.input :duration, label: false %> </div>
        <div class="label">Jauge</div>
        <div class="typo"> <%= f.input :jauge, label: false %> </div>

        <div class="label">zone_id</div>
        <div class="typo"> <%= f.input :zone_id, collection: @zones , label: false %> </div>
        <div class="label">categorie_id</div>
        <div class="typo"> <%= f.input :categorie_id, collection:@categories , label: false %> </div>
        <p> photo du header et de la mignature </p>
        <%= f.input :photo, as: :file %>


        <p> Photos supplementaires pour la gallerie (minimum 3)</p>
        <%= f.input :pictures, as: :file, input_html: { multiple: true } %>

    <%= f.button :submit %>

  <% end %>


