



    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleControls" data-slide-to="1"></li>
            <li data-target="#carouselExampleControls" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="/products/13">
                <%= image_tag "mein-marseille_slide1.png" %>
              </a>
            </div>
            <div class="carousel-item">
              <a href="/products/13">
                <%= image_tag "slider.png" %>
              </a>
            </div>
            <div class="carousel-item">
              <a href="/products/13">
                <%= image_tag "mein-marseille_slide1.png" %>
              </a>
            </div>
        </div>

        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>


<div class="cards col-sm-12">

    <% @les_produits.each do |un_produit| %>
      <div class="card">

        <div class="card-pic">
          <a href="/products/<%= un_produit.id %>">
          <%= cl_image_tag un_produit.photo,crop: :fill%>
          </a>
        </div>

        <div class="card-body">
          <h2> <%= markdown(un_produit.title) %> </h2>
          <h3> <%= markdown(un_produit.subtitle) %> </h3>
          <div class="shortdescription">
            <p> <%= markdown(un_produit.description3) %> </p>
          </div>
          <div class="bottomcard">
            <div class="picto">
              <p>Enfants: <%= un_produit.childs %> </p>
              <p>Durée: <%= un_produit.duration%> </p>
            </div>

            <div class="productbutton">
              <a href="/products/<%= un_produit.id %>">
                <button type="button" class="btn btn-index btn-primary">En voir plus</button>
              </a>
            </div>
          </div>

        </div>

      </div>
    <% end %>

</div>
<div class="paginate" style="margin: auto"><%= paginate @les_produits %></div>






