<div class="container">



  <div class="row">
    <div class="product-card col-sm-12">
      <div class=" bloc-photo col-sm-12 ">
        <%= cl_image_tag @product.photo %>
        <h1> <%=@product.title%> id: <%=@product.id%></h1>

      </div>



    </div>
  </div>

  <div class="row modifications">
    <div class="col-sm-12">
     <h2> Modifier la visitte </h2>


  <%= form_tag "/products/#{@product.id}", method: "patch" do %>
  <p> Titre: </p>
  <input type="text" class="modificationsfields" name="title" value="<%= @product.title %>" />
  <p> Sous-titre: </p>
  <input type="text" class="modificationsfields" name="subtitle" value="<%= @product.subtitle %>" />

  <p>Description:</p>
  <input id="modifdescription" class="modificationsfields" type="textarea" name="description" value="<%= @product.description %>" />
  <p>Description homepage:</p>
  <input type="text" class="modificationsfields" name="description3" value="<%= @product.description3 %>" />
  <p>Practish:</p>
  <input type="text" class="modificationsfields" name="description2" value="<%= @product.description2 %>" />
  <p>Prix:</p>
  <input type="text" class="modificationsfields" name="price" value="<%= @product.price %>" />
  <p>categorie:</p>
  <input type="text" class="modificationsfields" name="categorie_id" value="<%= @product.categorie_id %>" />
  <p>zone:</p>
  <input type="text" class="modificationsfields" name="zone_id" collection="<%= @zones %>" value="<%= @product.zone_id %>" />
  <p> Enfants acceptés?
  <input type="checkbox"  name="childs" value="<%= @product.childs %>" />
  </p>
  <p> Repas inclus?
  <input type="checkbox" name="lunch" value="<%= @product.lunch %>" />
  </p>
  <p>Durée en minutes :</p>
  <input type="integer" name="duration" value="<%= @product.duration %>" />
  <p> Nombre de participants maximum </p>
  <input type="integer" name="jauge" value="<%= @product.jauge %>" />
  <h3> Photos</h3>
  <p> photo de header actuelle:
  <div class=" miniphoto ">
        <%= cl_image_tag @product.photo %>
      </div>
  </p>

  <input type="file" name="photo" value="<%= @product.photo %>" />
  <p> </p>

   <p> Photos supplementaires pour la gallerie (minimum 3)</p>
   <input  type="file" :pictures, input_html: { multiple: true } %>

    <p>
        <br/>
      <input type="submit" value="mettre a jour la visite" />
    </p>
<% end %>

  <p>
      <br/>
      <%= form_tag "/products/#{@product.id}", method: "delete" do %>
       <input type="submit" class="btn btn-primary" value="Supprimer la visitte" />
                <% end %>
  </p>

    </div>


</div>
</div>
