<div class="container col-sm-12">


  <div class="row">

    <div class="product-card ">
      <div class=" bloc-photo  ">
        <%= cl_image_tag @product.photo %>

        <h1> <%=@product.title%> </h1>
        <button type="button" class="btn btn-primary btn-header" data-toggle="modal" data-target="#exampleModal">
        Reserver
      </button>
      </div>
    </div>
  </div>


  <div class="row description">

    <div class="description1 col-sm-7">

      <h2> <%= markdown(@product.subtitle) %> </h2>

      <P><%= markdown(@product.description) %> </P>


    </div>

      <!-- <P> Description3:<%= @product.description3 %> </P> -->










    <div class="bloc-picto-2 col-sm-5">

      <div class="bloc-picto-3">
        <div class="groupepictos1">
          <li>
            <ul> <i class="fas fa-hiking"></i> Dificutée: intermediaire </ul>
            <ul> <i class="fas fa-users"></i> Participants max : <%= @product.jauge %> personnes </ul>
          </li>
        </div>
        <div class="grouppictos2">
          <li>
            <ul> <i class="fas fa-child"></i> Enfants: <%= @product.childs %> </ul>
            <ul> <i class="fas fa-clock"></i> Duration: <%= @product.duration %> </ul>
          </li>
        </div>
      </div>


      <div class="Practish">
        <h3>Practish</h3>
        <p> <%= markdown(@product.description2) %> </p>
      </div>
      <!-- plus besoin de l'encarts tips, ci dessous , qui faisait doublon avec practish -->
      <!-- <div class="Tips">
        <h3>Tips</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
      </div> -->

      <div class="pricegrid">
        <h3> Tarif par personne </h3>
        <div class="row">
          <div class="col-md-4 case ">1 - 5</div>
          <div class="col-md-4 case">6 - 10</div>
          <div class="col-md-4 case">+ de 10</div>
        </div>
        <div class="row">
          <div class="col-md-4 case"><%=@product.price%>€</div>
          <div class="col-md-4 case"><%=@price2%>€</div>
          <div class="col-md-4 case"><%=@price3%>€</div>
        </div>
      </div>





      <button type="button" id= "btn2" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Reserver
      </button>
    </div>

<% if user_signed_in? %>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">envoyer une demande de reservation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              <%= render "bookings/form" %>
            </div>
            <div class="modal-footer">

            </div>
        </div>
      </div>
      </div>
     </div>

<% else %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">envoyer une demande de reservation</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">

              merci de creer un compte ou de vous identifier pour faire une demande de reservation
            </div>
            <div class="modal-footer">

            </div>
        </div>
      </div>
      </div>
     </div>

<% end %>

<div class=" row fotorow">

  <div class="barreseparation">
  </div>

    <div class="fotogalerie">

      <div class="fotoelement">
       <%= cl_image_tag @product.photo %>
      </div>
      <div class="fotoelement">
       <%= cl_image_tag @product.photo %>
      </div>
      <div class="fotoelement">
       <%= cl_image_tag @product.photo %>
      </div>
      <div class="fotoelement">
       <%= cl_image_tag @product.photo %>
      </div>


    </div>
 </div>

</div>




  <div class="row formulaire">
    <div class="col-sm-12">
      <!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h3 class="h1-responsive font-weight-bold text-center my-4">Vous avez une question? Contactez-nous</h3>
    <!--Section description-->


    <p class="text-center w-responsive mx-auto mb-5"> <%= render "contacts/form" %> </p>




</section>
<!--Section: Contact v.2-->
    </div>

  </div>



</div>
