<div class="container">



  <div class="row">
    <div class="product-card col-sm-12">
      <div class=" bloc-photo col-sm-12 ">
        <%= cl_image_tag @product.photo %>
        <h1> <%=@product.title%> id: <%=@product.id%></h1>

      </div>

      <div class="row pictos">

          <p class=" bloc-1 col-sm-4"> <%= image_tag "clock-circular-outline.png"%> Durée: 2h </p>
          <P class=" bloc-2 col-sm-4"> <%= image_tag "user.png"%>Nombre de participants: 5 </P>
          <p class="bloc-3 col-sm-4"> Prix: 50€/ personne</p>

      </div>

    </div>
  </div>

  <div class="row description">
    <div class="col-sm-6">
      <h2> <%= @product.subtitle %> </h2>

      <P> <%= @product.description %></P>
    </div>

    <div class="bloc-picto-2 col-sm-6">
      <li>
        <ul> <%= image_tag "expert-route.png"%> Dificutée: intermediaire </ul>
        <ul> <%= image_tag "multiple-users-silhouette.png"%> Participants max : 10 personnes </ul>
        <ul> <%= image_tag "smiling-baby.png"%> Enfants: oui </ul>
      </li>

      <div class="pricegrid">

      <h5> Tarif par personne </h5>
      <div class="row">
      <div class="col-md-4 case ">1 - 5</div>
      <div class="col-md-4 case">6 - 10</div>
      <div class="col-md-4 case">+ de 10</div>
      </div>

      <div class="row">
      <div class="col-md-4 case"><%=@product.price%></div>
      <div class="col-md-4 case"><%=@price2%></div>
      <div class="col-md-4 case"><%=@price3%></div>
      </div>

      </div>




  <%= form_tag "/products/#{@product.id}", method: "patch" do %>
  <input type="text" name="title" value="<%= @product.title %>" />
  <input type="text" name="subtitle" value="<%= @product.subtitle %>" />
  <input type="text" name="description" value="<%= @product.description %>" />
  <input type="text" name="price" value="<%= @product.price %>" />
  <input type="text" name="categorie_id" value="<%= @product.categorie_id %>" />
  <input type="text" name="zone_id" value="<%= @product.zone_id %>" />
  <input type="submit" value="mettre a jour la visite" />
<% end %>


<%= form_tag "/products/#{@product.id}", method: "delete" do %>
 <input type="submit" class="btn btn-primary" value="Supprimer la visitte" />
          <% end %>

</div>
