<div class="container">



  <div class="row">
    <div class="product-card col-sm-12">
      <div class=" bloc-photo col-sm-12 ">
        <%= image_tag "panier.jpeg" %>
        <h1> <%=@product.title%><%=@product.id%></h1>
      </div>

      <div class="row pictos">
          <p class=" bloc-1 col-sm-4"> <%= image_tag "clock-circular-outline.png"%> Durée: 2h </p>
          <P class=" bloc-2 col-sm-4"> <%= image_tag "user.png"%>Nombre de participants: 5 </P>
          <p class="bloc-3 col-sm-4"> Prix: 50€/ personne</p>
      </div>

    </div>
  </div>





</div>
