<div class="container">



  <div class="row">
    <div class="product-card col-sm-12">
      <div class=" bloc-photo col-sm-12 ">
        <%= cl_image_tag @product.photo %>
        <h1> <%=@product.title%> id: <%=@product.id%></h1>

      </div>



    </div>
  </div>

  <div class="row modifications">
    <div class="col-sm-12">
     <h2> Modifier la visitte </h2>


  <%= form_tag "/products/#{@product.id}", method: "patch" do %>
  <p> Titre: </p>
  <input type="text" class="modificationsfields form-control" name="title" value="<%= @product.title %>" />
  <p> Sous-titre: </p>
  <input type="text" class="modificationsfields form-control" name="subtitle" value="<%= @product.subtitle %>" />

  <p>Description:</p>
  <textarea class="form-control" name="description" id="exampleFormControlTextarea1" rows="10"> <%= @product.description %></textarea>

  <p>Description homepage (340 caracteres):</p>
  <textarea class="form-control" name="description3" id="exampleFormControlTextarea1" rows="10"> <%= @product.description3 %></textarea>
  <p>Practish:</p>
  <textarea class="form-control" name="description2" id="exampleFormControlTextarea1" rows="10"> <%= @product.description2 %></textarea>
  <p>Prix:</p>
  <input type="text" class="modificationsfields form-control" name="price" value="<%= @product.price %>" />
  <p>categorie:</p>
  <input type="text" class="modificationsfields form-control" name="categorie_id" value="<%= @product.categorie_id %>" />
  <p>zone:</p>
  <input type="text" class="modificationsfields form-control" name="zone_id" collection="<%= @zones %>" value="<%= @product.zone_id %>" />

<h3>Qui faite la visitte? </h3>

  <%= check_box_tag(:partner, value = "1", checked = @product.partner ) %>
  <%= label_tag(:partner, "Visite opérée par un partenaire?") %>
  <p>Si oui, nom du partenaire (sera affiché dans la visitte)</p>
  <input type="text" class="modificationsfields form-control" name="partnername" value="<%= @product.partnername %>" />
  <p>lien vers le site du partner:</p>
  <input type="text" class="modificationsfields form-control" name="partnermail" value="<%= @product.partnermail %>" />




<!--   <p> Enfants acceptés?
  <input type="checkbox"  name="childs" value="<%= @product.childs %>" />
  </p>
  <p> Repas inclus?
  <input type="checkbox" name="lunch" value="<%= @product.lunch %>" />
  </p> -->

<%= check_box_tag(:childs, value = "1", checked = @product.childs ) %>
<%= label_tag(:childs, "Enfants acceptés?") %>
<%= check_box_tag(:lunch, value = "1", checked = @product.lunch) %>
<%= label_tag(:lunch, "Repas inclus?") %>

  <p>Durée en minutes :</p>
  <input type="integer" class="form-control" name="duration" value="<%= @product.duration %>" />
  <p> Nombre de participants maximum </p>
  <input type="integer" class="form-control" name="jauge" value="<%= @product.jauge %>" />
  <h3> Photos</h3>
  <p> photo de header actuelle:
  <div class=" miniphoto ">
        <%= cl_image_tag @product.photo %>
      </div>
      <p><input type="submit" value="supprimer l'image" value="@product.photo.purge" /></p>
  </p>

  <!-- <input type="file" name="photo" /> -->
  <%= file_field_tag ':photo' %>
  <p> </p>

   <p> Photos supplementaires pour la gallerie (minimum 3)</p>
   <input  type="file" :pictures, input_html: { multiple: true } %>

    <p>
        <br/>
      <input type="submit" class="btn btn-primary" value="mettre a jour la visite" />
    </p>
<% end %>

  <p>
      <br/>
      <%= form_tag "/products/#{@product.id}", method: "delete" do %>
       <input type="submit" class="btn btn-danger" value="Supprimer la visitte" />
                <% end %>
  </p>




    </div>


</div>
</div>r
